@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(238, 233, 218);
  color: rgb(96, 150, 180);
}

@media (prefers-color-scheme: rgb(238, 233, 218)) {
  :root {
    --foreground-rgb: rgb(238, 233, 218);
    --background-start-rgb: rgb(238, 233, 218);
    --background-end-rgb: rgb(238, 233, 218);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}